@import "../../mixins.scss";
@import "../../variables.scss";
.dashboard{
  background-color: $f9-white;
}
.miniBarChart {
  margin-left: auto;
  top: 20px;
}

.chartData {
  right: 22px;
}

.chartLabel {
  color: $light-gray;
  font-weight: 500;
}

.chartAmount {
  font-weight: 700;
  color: $chart-gray;
  font-size: 30px;
}

.chartScale {
  color: $chart-red;
  font-size: 12px;
  font-weight: 700;
}

.chartScaleGreen {
  color: $chart-green;
  font-size: 12px;
  font-weight: 700;
}

.downArrow {
  font-size: 17px !important;
  font-weight: 800;
  margin-top: 1px
}

.upArrow {
    font-size: 17px !important;
  font-weight: 800;
  margin-top: 1px
}

.container-fluid {
  margin: 0 auto;
  max-width: 96%;
}

.width-96 {
  position: relative;
  max-width: 80%;
  margin-top: 5rem;
  margin-left: 18%;
}

.width-table {
  position: relative;
  max-width: 85%;
  margin-top: 5rem;
  margin-left: 15%;
}

.formWidth {
  margin: 0 auto;
  max-width: 98%;
  margin-top: 15px;
}

.graphPadding {
  padding: 18px;
}

.barChart {
  @include device-lgb {
    right: 30px;
  }
  @include device-lg {
    right: 50px;
  }
  @include tablet {
    right: 0px;
  }
}


