@import "../../variables.scss";
@import "../../mixins.scss";

.login-page .account-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-page .login-logo {
  //text-align: center;
  margin-top: 15px;
  margin-bottom: 4.5rem;
  h1 {
    letter-spacing: 0px;
    color: $kotak-text-blue !important;
    @include ipad-Portrait{
      justify-content: center;
      align-items: center;
      display: flex;
  }
  @include ipad-pro-Portrait{
      justify-content: center;
      align-items: center;
      display: flex;
  }
  }
  p {
    color: rgba($color: $kotak-text-blue, $alpha: 0.5);
  }
}

.login-page .page-wrapper .content {
  padding: 30px;
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px $table-shadow;
  opacity: 1;
}

.login-page .account-title {
  font-size: 32px;
  font-weight: 400;
  margin: 60px 0 40px;
  text-align: center;
}

.login-page .account-box {
  display: flex;
  width: 100%;
  @include device-sm {
    display: block;
  }
  @include tablet {
    display: block;
  }
  @include ipad-pro-Portrait {
    display: block;
  }
  .bg-img {
    background: url(../../assets/img/login_image@2x.png);
    height: 100vh;
    width: 50%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    @include device-sm {
      display:none;
    }
    @include universal {
      display:none;
    }
    @include tablet {
      display:none;
    }
    @include ipad-pro-Portrait {
      display:none;
    }
  }
  .kotak-logo{
    height: 10rem !important;
    width: 20rem !important;
    background-image: url(../../assets/img/logo-kotak.png) !important;
    background-repeat:no-repeat;
    background-size: contain;
  }
}

.login-page .account-wrapper {
  width: 50%;
  background-color: $white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include device-sm {
    width: 100%;
  }
  @include universal {
    width: 100%;
    padding: 0px;
  }
  @include tablet {
    width: 100%;
    padding: 0px;
  }
  @include ipad-pro-Portrait {
    width: 100%;
    padding: 0px;
  }
  .container{
    @include universal {
      width: 85%;
    }
    @include ipad-Portrait{
      width: 50%;
    }
  }
}

.login-page .account-logo {
  margin-bottom: 20px;
  text-align: center;
}

.login-page .account-box .form-group {
  margin: 30px auto;
  width: 100%;
  @include device-sm {
    margin: 30px auto;
    width: 100%;
  }
  @include universal {
    margin: 30px auto;
    width: 100%;
  }
  @include iPhoneSE {
    margin: 30px auto;
  }
  @include tablet {
    margin: 30px auto;
  }
}

.login-page .account-box .account-btn {
  background: $white;
  margin: auto;
  border: 0;
  width: 40%;
 // border: 1px solid $theme-black;
}

.login-page .account-box a {
  color: $blue-grey-900;
  font-size: 16px;
}

.login-page .account-box .form-control {
  background-color: $white;
  width: 100%;
  border: none;
  box-shadow: none;
  border-bottom: 1px $theme-border-black solid;
  &::placeholder {
    font-family: "Source Sans Pro";
    color: $theme-black;
    font-size: 16px;
  }
}

.login-page .account-logo img {
  width: 100px;
}

::ng-deep {
  .mat-checkbox-frame {
    border-color: $theme-black;
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $theme-black;
  }
}

.login-page .tnc {
  position: absolute;
  bottom: 10px;
}
.login-page .invalid-feedback {
  margin-left: 12px;
}

.forgot-pass{
  color: $bg-theme-red !important;
}